{% extends 'base/base.html' %}

{% block title %}booking List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Booking</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Booking List </h4>
            </div>
            <div class="card-body--">
                {% for msg in messages %}
                    <div class="col-xl-12"><div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Message:</strong> {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Bilty No</th>
                                <th>Client</th>
                                <th>Vehicle</th>
                                <th>Product</th>
                                <th>Driver</th>
                                <th>Loading Date</th>
                                <th>Weight</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Freight Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if booking %}
                            {% for booking in booking %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.client }}</td>
                                <td>{{ booking.vehicle }}</td>
                                <td>{{ booking.product }}</td>
                                <td>{{ booking.driver }}</td>
                                <td>{{ booking.loading_date }}</td>
                                <td>{{ booking.weight_in_tons }}</td>
                                <td>{{ booking.location_from }}</td>
                                <td>{{ booking.location_to }}</td>
                                <td>{{ booking.freight_amount }}</td>
                                <td>
                                    {% if booking.status == 'pending' %}
                                        <a class="btn-sm btn-warning" href="">{{ booking.status }}</a>
                                    {% elif booking.status == 'decline' %}
                                        <a class="btn-sm btn-danger" href="">{{ booking.status }}</a>
                                    {% elif booking.status == 'complete' %}
                                        <a class="btn-sm btn-success" href="">{{ booking.status }}</a>
                                    {% elif booking.status == 'approved' %}
                                        <a class="btn-sm btn-primary" href="">{{ booking.status }}</a>
                                    {% elif booking.status == 'bulk' %}
                                        <a class="btn-sm btn-secondary" href="">{{ booking.status }}</a>
                                    {% else %}
                                        <a class="btn-sm btn-info" href="">{{ booking.status }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'update-booking' booking.id %}" class=" btn-sm btn-primary">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Booking Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}