{% extends 'base/base.html' %}

{% block title %}Create Booking{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Booking</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create Booking</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            {% comment %} {{form}} {% endcomment %}
                             <div class="form-group">
                                <label for="client" class="control-label mb-1">Client</label>
                                {{ form.client }}
                            </div>
                            <div class="form-group">
                                <label for="vehicle" class="control-label mb-1">Vehicle</label>
                                {{ form.vehicle }}
                            </div>
                            <div class="form-group">
                                <label for="driver" class="control-label mb-1">Driver</label>
                                {{ form.driver }}
                            </div>
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Product</label>
                                {{ form.product }}
                            </div>                         
                            <div class="form-group">
                                <label for="no_of_product" class="control-label mb-1">No of Products</label>
                                {{ form.no_of_product }}
                            </div>
                            <div class="form-group">
                                <label for="weight_in_tons" class="control-label mb-1">Weight</label>
                                {{ form.weight_in_tons }}
                            </div>
                            <div class="form-group">
                                <label for="freight_amount" class="control-label mb-1">Frieght Amount</label>
                                {{ form.freight_amount }}
                            </div>
                            <div class="form-group">
                                <label for="loading_date" class="control-label mb-1">Loading Date</label>
                                {{ form.loading_date }}
                            </div>
                            <div class="form-group">
                                <label for="location_from" class="control-label mb-1">From Location</label>
                                {{ form.location_from }}
                            </div>
                            <div class="form-group">
                                <label for="location_to" class="control-label mb-1">To Location</label>
                                {{ form.location_to }}
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="status" class="control-label mb-1">Status</label>
                                {{ form.status }}
                            </div> {% endcomment %}
                            
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Booking</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}